@import "node_modules/bootstrap/scss/bootstrap";

/*cUSTOM BOOTSTRAP*************************************/
/**********YOUR DEFAULT STYLES***********/

$blue:    #007bff ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #28a745 ;
$teal:    #20c997 ;
$cyan:    #17a2b8 ;


$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$primary:       #8DBE40;
$secondary:     #fbba00;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $gray-800 ;

$body-color:                $gray-900;

$paragraph-margin-bottom:   2rem ;

$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1140px
) ;



$enable-shadows:            true ;
$enable-gradients:          true ;



// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.375) !default;
$font-size-sm:                ($font-size-base * 1) !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.81 !default;
$h2-font-size:                $font-size-base * 2.3 !default;
$h3-font-size:                $font-size-base * 1.80 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;



/********************IMPORTS BOOTSTRAP SPECIFIC STYLES*******************************/

